# Basic IPython Widget for Altair

This notebook shows how to create a simple user interface for working with an Altair `Viz` object. This version uses IPython's interactive widgets (`ipywidgets`).

## Setup

In [9]:
import seaborn.apionly as sns
import altair.api as alt
import pandas as pd

## Load data

In [2]:
df = sns.load_dataset('titanic')

In [3]:
df = df.dropna()

In [4]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54,0,0,51.8625,S,First,man,True,E,Southampton,no,True
10,1,3,female,4,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False
11,1,1,female,58,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True

# Widget view

The `view` submodule in Altair has a `create_viz_view` function that will return an IPython `Widget` that is bound to the Altair objects. As you change the UI controls, the Altair objects are updated dynamically. Currently, this doesn't work with any of our renderers because of bugs in the renderers.

In [10]:
from altair import view

In [11]:
v1 = alt.Viz(df).encode(x='age', y='fare').point()

In [12]:
view.create_viz_view(v1, shelves=('x','y','color','size'))

The following values will change as you select different options in the UI:

In [13]:
print(v1.marktype)
print(v1.encoding.x)
print(v1.encoding.y)
print(v1.encoding.color)
print(v1.encoding.size)

point
{'name': 'age', 'type': 'Q', 'bin': False}
{'name': 'fare', 'type': 'Q', 'bin': False}
None
None